In [10]:
# from sqlalchemy import create_engine, Column, Integer, String
# from sqlalchemy.orm import declarative_base, relationship, sessionmake

import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
conn = psycopg2.connect("user='postgres' host='localhost' password='pass' port='5432'")

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [4]:
cursor = conn.cursor()
conn.autocommit = True

In [6]:
#   Creating the Database:
cursor.execute('DROP DATABASE IF EXISTS vision_analysis;')
cursor.execute('CREATE DATABASE vision_analysis;')

cursor.close()
conn.close()

In [ ]:
# Creating the Tables
conn = psycopg2.connect("dbname='vision_analysis' user='postgres' host='localhost' password='pass' port='5432'")
cursor = conn.cursor()

cursor.execute('''
    DROP TABLE IF EXISTS frames_details;
    DROP TABLE IF EXISTS prepared_data;         ''')

In [8]:
#create frame_details table
cursor.execute('''
    CREATE TABLE FRAMES_DETAILS(
        frame_id SERIAL PRIMARY KEY,
        frame_index int,
        time_stamp_seconds float,
        track_id int,
        class int,
        class_name VARCHAR(15),
        confidence float
    );
''')

In [9]:
#create prepared_data table
cursor.execute('''
    CREATE TABLE prepared_data(
        id SERIAL PRIMARY KEY,
        time_stamp_seconds float,
        people_detected int,
        no_detection bool
    )
''')

******************************

In [ ]:
engine = create_engine('postgresql+psycopg2://postgres:pass@localhost:5432/vision_analysis')

In [12]:
frames_details = pd.read_csv('frames_info.csv')
prepared_data = pd.read_csv('merged.csv')

In [17]:
frames_details.head()

   Frame_Index  Time_Stamp_Seconds  Track_ID  Class Class_Name  Confidence
0            0                 0.0         1      0     person    0.830462
1            0                 0.0         2      0     person    0.604111
2            0                 0.0         3      0     person    0.599019
3            0                 0.0         4      0     person    0.592991
4            0                 0.0         5      0     person    0.521728

In [14]:
prepared_data.head()

   Time_Stamp_Seconds  People_Detected  No_Detection
0            0.000000               10         False
1            0.076377               10         False
2            0.152753               10         False
3            0.229130               10         False
4            0.305507               10         False

In [15]:
frames_details.to_sql(
    name='FRAMES_DETAILS',     # table name in the DB
    con=engine,                 # the engine created above
    if_exists='append',        # 'fail', 'replace', or 'append'
    index=False                 # don't write index as a column
)

652

In [ ]:

prepared_data.to_sql(
    name='prepared_data',     # table name in the DB
    con=engine,                 # the engine created above
    if_exists='append',        # 'fail', 'replace', or 'append'
    index=False                 # don't write index as a column
)